/*html,*/
/*body {*/
  /*margin: 0;*/
  /*padding: 0;*/
/*}*/

button {
  margin: 0;
  padding: 0;
  border: 1px;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #f5f5f5;
  color: #4d4d4d;
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
}

.todoapp input::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.todoapp input::-moz-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.todoapp input:-ms-input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.nav {
  text-align: center;
  padding-bottom: 30px;
}

.todoapp a {
  padding: 20px;
  cursor: pointer;
}

a.selected {
  font-weight: bold;
  cursor: default;
  text-decoration: none;
}


input::-ms-clear{
  display:none;
}

.todoapp-header h1 {
  top: -140px;
  width: 100%;
  font-size: 70px;
  font-weight: 100;
  text-align: center;
  color: rgba(175, 47, 47, 0.35);
}

.todoapp-header h4 {
  font-size: 25px;
  font-weight: 100;
  text-align: center;
  color: rgba(175, 47, 47, 0.55);
}

.new-todo {
  display: flex;
  padding: 1px 20px 1px 20px;
  border: none;
  background: #fff;
  position: relative;
  margin: 0;
  width: 100%;
  line-height: 1.4em;
  outline: none;
  /*padding: 6px;*/
  /*border: 1px solid #999;*/
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
  0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.new-todo input {
  flex-grow: 1;
  font-size: 24px;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  border: 0;
  outline: none;
  padding: 20px;
}

.main {
  background: #fff;
  position: relative;
  z-index: 2;
  border-top: 1px solid #e6e6e6;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
  0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.todo-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.todo-list li {
  position: relative;
  font-size: 24px;
  border-bottom: 1px solid #ededed;
  padding: 20px
}

.todo-list li button {
  display: block;
  float:right;
  font-size: 75%;
}

.todo-list li button:hover {
  color: #cc9a9a;
}

.add-button{
  display: block;
  float:right;
  margin: auto 0;
  font-size: 50px;
  color: #cc9a9a;
  margin-bottom: 11px;
}

.add-button:hover {
  color: #af5b5e;
}

.info {
  margin: 65px auto 0;
  color: darkgrey;
  font-size: 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-align: center;
}

.info p {
  line-height: 1;
}

.info a {
  color: inherit;
  text-decoration: none;
  font-weight: 400;
}

.info a:hover {
  text-decoration: underline;
}
